<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="ir.rastanco.mobilemarket"
    android:installLocation="auto"
    android:versionCode="6"
    android:versionName="1.0.6">

    <!-- Start  Pushe Permission -->
    <permission
        android:name="ir.rastanco.mobilemarket.permission.C2D_MESSAGE"
        android:minSdkVersion="16"
        android:protectionLevel="signature"
        android:targetSdkVersion="16" />

    <uses-permission android:name="ir.rastanco.mobilemarket.permission.C2D_MESSAGE" />
    <!-- Optional permissions -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- End   Pushe Permission -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme">
        <activity android:name=".presenter.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".presenter.TabbedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.ProductInfoPresenter.ProductInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.shoppingBagPresenter.ShoppingBagActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.UserProfilePresenter.AccountManagerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.UserProfilePresenter.UserFavouriteProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.UserProfilePresenter.UserLastShoppingProduct"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presenter.WebView"
            android:screenOrientation="portrait" />

        <service android:name=".presenter.Services.NotificationService" />
        <service android:name=".presenter.Services.DownloadCategoryInformationService" />
        <service android:name=".presenter.Services.UpdateService" />
        <service android:name=".presenter.Services.CompleteDataAfterInstall" />
        <service android:name=".presenter.Services.DownloadProductOption" />
        <service android:name=".presenter.Services.DownloadProductInformationService" />

        <receiver android:name=".presenter.Services.UpdateEveryConnectionOk">
            <intent-filter>
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".presenter.UserProfilePresenter.LoginActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".presenter.FullScreenPAgeUserGuider"
            android:screenOrientation="portrait"
            android:theme="@style/Transparent">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- Glide Meta data -->
        <meta-data
            android:name="ir.rastanco.mobilemarket.utility.GlideConfiguration"
            android:value="GlideModule" />

        <!-- Start Pushe Information -->
        <receiver android:name="co.ronash.pushe.receiver.UpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data
                    android:path="ir.rastanco.mobilemarket"
                    android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="ir.rastanco.mobilemarket" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="co.ronash.pushe.token"
            android:value="f7-157d-4f_39109906948" />
        <!-- End Pushe Information -->
        <activity android:name=".LoginPageActivity" />
        <activity
            android:name=".InfoActivity"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>